.site-footer{
    padding: 2em 2em 0;
    background-color: #1E3050;
    color: #f9f9f9;
}
.site-footer a{
    color: #f9f9f9;
}
.footer-line{
    color: #f9f9f9;
    width: 80%
}
#newsletter1{
    background: none;
    border-radius: 99px;
    width: 45%;
    margin-right: 10px;
}


