.navbar-light .navbar-toggler{
    border: 0;
}

.navbar-light .navbar-nav .nav-link{
    text-transform: uppercase;
}

.navbar-light i:first-of-type{
    padding-right: .5em;
}

.hero-title{
    color: #1E3050;
}
.navbar-expand-lg{
    justify-content: space-between;
    background-color: transparent;
    padding: 2em;
}

.navbar-brand a{
    color: #1E3050;
    text-transform: uppercase;
    font-weight: 700;
}

.navbar-brand a:hover{
    text-decoration: none;
}