.row{
    justify-content: center;
}

.pet-card{
    border-radius: 20px;
    border: none;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    width: 15rem;
}
.pet-card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.pet-card > .crd-img-top{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 12px;
    height: 15rem;
} 
.pet-card > .card-body{
    padding: 10px;
}

.pet-name{
    font-weight: 700;
    text-decoration: none;
}

.pet-breed{
    font-weight: 400;
    text-decoration: none;
}

.pet-age{
    background-color: #b9a9e220;
    color: #B9A9E2;
    padding: 4px 10px;
    max-width: 6vw;
    border-radius: 99px;
    text-decoration: none;
}
.see-more-btn{
    background-color: #aaeaa220;
    color: #aaeaa2;
    padding: 4px 6px;
    max-width: 6vw;
    border-radius: 99px;
    text-decoration: none;
}
.info-btn {
    background: none;
    border: none; /* Remove borders */
    color: green; /* White text */
    cursor: pointer; /* Mouse pointer on hover */
    height: 4px;
    width: 4px;
  }
  
  /* Darker background on mouse-over */
  .info-btn:hover {
    color: blue;
  }
 