

a{
    color: #1E3050;
}
a:hover{
    text-decoration: none;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  }
h5{
    text-transform: uppercase;
    font-weight: 700;
}
html,body{
    height: 100%
}
.page-not-found{
    background-image: url('../images/404.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    height: 100%
}
.page-banner{
    background-image: url('../images/polkadot-banner.svg');
}
.hero-button{
    background-color: #1E3050;
    border: 0;
}

.page-title{
    text-transform: uppercase;
}

.btn{
    border-radius: 999px;
}
#current-page .nav-link{
    font-weight: 700;
}

/* blog styling */

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
